{
    "check-coverage": true,
    "per-file": false,
    "lines": 50,
    "statements": 50,
    "functions": 30,
    "branches": 50,
    "extension": [
        ".ts"
    ],
    "exclude": [
        "src/**/*.d.ts",
        "src/test/**/*.ts"
    ],
    "include": [
        "src/**/*.ts",
        "src/*.ts"
    ],
    "reporter": [
        "lcov",
        "json",
        "text"
    ],
    "all": true
}
